[submodule "zsh"]
	path = zsh
	url = git@github.com:avit/oh-my-zsh.git
[submodule "vim/bundle/vim-rails"]
	path = vim/bundle/rails
	url = git://github.com/tpope/vim-rails.git
[submodule "vim/bundle/vim-colors-solarized"]
	path = vim/bundle/colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "vim/bundle/vim-commentary"]
	path = vim/bundle/commentary
	url = git://github.com/tpope/vim-commentary.git
[submodule "vim/bundle/vim-cucumber"]
	path = vim/bundle/cucumber
	url = https://github.com/tpope/vim-cucumber.git
